<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>Satate</th>
      <th>Country</th>
      <th>Contact Number</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%= render  "user", user: user %>
    <% end %>
  </tbody>
</table>

<%#= link_to "New user", new_user_path, "data-controller": "user-modal" %>
<%#= link_to "New user", new_user_path(format: :turbo_stream)  %>
<%= link_to "New user", new_user_path, data: { controller: 'user-modal' } %>



